:root {
    --Lighter: rgb(70, 113, 156);
    --Darker: rgb(60, 103, 146);
    --White: #FFF;
    --Black: #000;
}
body {
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: var(--Lighter);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    margin: 16px 0;
}
header img {
    width: 64px;
}
section {
    display: flex;
    justify-content: center;
}
.container {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75) inset;
    background-color: var(--Darker);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.container a {
    color: var(--White);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container a img {
    width: 100px;
    margin-top: 32px;
}